body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(188, 182, 159) !important;
}
.seller-form {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.form-content {
    width: 400px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: rgb(88, 241, 185);
    background-image: linear-gradient(cadetblue, rgb(42, 115, 116));
}

.form-content button {
    background-color: rgb(245, 205, 155);
    background-image: linear-gradient(rgb(144, 215, 206) , rgb(45, 230, 187));
    border: none;
}

@media screen and (max-width:400px) {
    .form-content {
        width: 200px;
    }
}